html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url(https://res.cloudinary.com/dglr48luk/image/upload/v1547204969/django/bg.jpg);
}

a {
    color: unset;
}

.navbar {
    height: 73px;
    background-image: url(https://res.cloudinary.com/dglr48luk/image/upload/v1547202231/django/bg-menu.png);
    color: #fcd144;
}

.btn {
    background-color: #b921c4;
    border-color: #4c0d7a;
    color: white;
}

.btn:hover {
    color: black;
}

.navbar-brand {
    width: 20%;
}

.navbar-brand img {
    width: 100%;
}

.nav-link {
    color: #fcd144;
}

.nav-item .dropdown {
    position: absolute;
    display: none;
    background-color: #5A4336;
}

.nav-item .dropdown ul {
    list-style: none;
}

.content {
    min-height: 100%;
    margin-top: 80px;
}
.content-inside {
    padding: 50px 0;
}
footer {
    height: 100px;
    padding: 35px 0;
    margin-top: -100px;
}

.flex-centered {
    display: flex;
    align-items: center;
}

.card {
    background-color: unset;
    border: none;
}

.card.selected {
    -webkit-box-shadow: 0px 0px 5px 5px rgba(60,0,255,0.46);
    -moz-box-shadow: 0px 0px 5px 5px rgba(60,0,255,0.46);
    box-shadow: 0px 0px 5px 5px rgba(60,0,255,0.46);
}

.single-card__link {
    text-decoration: none;
    position: relative;
    display: block;
}

.single-card__link:hover {
    background-color: #fff;
    border-radius: 5px;
    display: block;
    /*padding: 6px;*/
    text-decoration: none;
    transition-duration: .3s;
    box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}

.single-card__link:hover h4 {
    border-radius: 0 0 5px 5px;
}

.single-card__link h4 {
    position: absolute;
    z-index: 1;
    color: #fefefe;
    background: rgba(0,0,0,0.6);
    border-radius: 5px;
    bottom: -9px;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 100;
}

.single-card__link__img {
    width: 100%;
}

.single-card .quantity {
    position: absolute;
    top: 0;
    background-color: #AD9788;
    right: 0;
    border-radius: 5px;
    border: solid black 1px;
    font-size: 20px;
    color: black;
    width: 35px;
}

.single-card .title {
    height: 60px;
}

.single-deck .title {
    position: absolute;
    z-index: 1;
    color: #fefefe;
    background: rgba(0,0,0,0.6);
    border-radius: 5px;
    bottom: -9px;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 100;
}


.card-actu {
    width: 100%;
}

.card-actu small {
    float: right;
}
