{% load static %}
<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static 'hearthstone/main.css' %}">

  {% if title %}
    <title>Hearthstone - {{ title }}</title>
  {% else %}
    <title>Hearthstone</title>
  {% endif %}
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-red bg-red fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img
        src="https://res.cloudinary.com/dglr48luk/image/upload/v1547202207/django/logo.png"
        class="desktop">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'actu' %}">Actus</a>
          </li>
          <span class="flex-centered text-light">|</span>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'myCards' %}">Mes cartes</a>
          </li>
          <span class="flex-centered text-light">|</span>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'myDecks' %}">Mes decks</a>
          </li>
          <span class="flex-centered text-light">|</span>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'echange' %}">Mes échanges</a>
          </li>
          <span class="flex-centered text-light">|</span>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'playerAll' %}">Joueurs</a>
          </li>
          <span class="flex-centered text-light">|</span>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'forum' %}">Forum</a>
          </li>
          <span class="flex-centered text-light">|</span>
        {% endif %}

        {% if not request.user.is_authenticated %}
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="account" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              Mon compte
            </button>
            <div class="dropdown-menu" aria-labelledby="account">
              <a class="dropdown-item" href="{% url 'register' %}">S'inscrire</a>
              <a class="dropdown-item" href="{% url 'app_login' %}">Se connecter</a>
            </div>
          </div>
        {% else %}
          <li class="nav-item">
            <a class="nav-link">Poussieres : {{ request.user.profile.credit }}</a>
          </li>
          <span class="flex-centered text-light">|</span>
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="account" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              {{ request.user.username }}
            </button>
            <div class="dropdown-menu" aria-labelledby="account">
              <a class="dropdown-item" href="{% url 'app_logout' %}">Se deconnecter</a>
              <a class="dropdown-item" href="{% url 'changePassword' %}">Changer de mot de passe</a>
              {% if request.user.is_staff %}
                <a class="dropdown-item" href="{% url 'admin:index' %}}">Admin</a>
              {% endif %}
            </div>
          </div>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>


<div class="container content">
  <div class="content-inside">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}
  </div>
</div>


<!-- Footer -->
<footer class="bg-red">
  <div class="container">
    <p class="m-0 text-center text-black">Copyright &copy; Django Hearthstone 2018 - Regis Robin | Lesage Anthony</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Boostratp JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>
