{% extends "hearthstone/base.html" %}

{% block content %}
<div class="row my-5">
  <div class="col-md-12">
    <h1>Deck : {{ deck.title }}</h1>

    <a href="{% url 'deckUpdate' deck.pk %}" class="btn">Editer</a>
    <a href="{% url 'deckDelete' deck.pk %}" class="btn">Supprimer</a>

    <h2>Liste des cartes :</h2>
    <div class="row">
      {% for cardsdeck in deck.cardsdeck_set.all %}
      <div class="col-3 text-center single-card my-4">
        <a class="single-card__link" href="{% url 'card' cardsdeck.card.id %}">
          <h4>{{ cardsdeck.card.title }}</h4>
          <img src="https://res.cloudinary.com/dglr48luk/image/upload/c_scale,q_auto:eco,w_235/v1540542198/django/{{ cardsdeck.card.slug }}.png" alt="{{ cardsdeck.card.title }}" class="single-card__link__img">
          {% if card.quantity > 1 %}<span class="quantity">x{{ card.quantity }}</span>{% endif %}
        </a>
      </div>
      {% empty %}
      <div class="col">
        Vous n'avez pas encore de cartes.
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}


