{% extends "hearthstone/base.html" %}

{% block content %}
<div class="row my-5">
  <div class="col-md-12">
    <h1>Vos decks de cartes</h1>

    <a href="{% url 'deckCreate' %}" class="btn">Creer un deck</a>

    <div class="row">
      {% for deck in decks %}
      <div class="col-3 text-center my-4">
        <a class="single-deck" href="{% url 'deck' deck.id %}">
          <h4 class="title">{{deck.title}}</h4>
          <img src="https://res.cloudinary.com/dglr48luk/image/upload/c_scale,q_auto:eco,w_235/v1547202285/django/card-pack.png" alt="">
        </a>
      </div>
      {% empty %}
      <div class="col">
        Vous n'avez pas encore de decks.
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}


