{% extends "hearthstone/base.html" %}

{% block content %}
<div class="row my-5">
  <div class="col">
  <h1 class="text-center">Joueur : {{ profile.user.username }}</h1>
    {% if profile.user != request.user %}
      {% if show_follow_button == 1 %}
        <h3><a class="btn btn-outline-primary btn-sm" href="{% url 'follow' profile.user.pk %}">Suivre ce joueur</a></h3>
      {% else %}
        <h3><a class="btn btn-outline-primary btn-sm" href="{% url 'unfollow' profile.user.pk %}">Ne plus suivre ce joueur</a></h3>
      {% endif %}
    {% endif %}
  </div>
  <div class="col-md-12">
    <div class="row">
      <p><strong>Identifiant : </strong>{{profile.user.username}}</p>
    </div>
    <div class="row">
      <p><strong>Crédits : </strong>{{profile.credit}}</p>
    </div>
    <div class="row">
      <p><strong>ELO : </strong>{{profile.elo}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3 class="text-center">Cartes :</h3>
    </div>
  </div>
  <div class="row">
    {% for cardUser in profile.user.cardsuser_set.all %}
    <div class="col-2 text-center single-card my-4">
      <div class="single-card__link">
        <h4 class="title">{{ cardUser.card.title }}</h4>
        <img src="https://res.cloudinary.com/dglr48luk/image/upload/c_scale,q_auto:eco,w_235/d_unknown.png/v1540542198/django/{{ cardUser.card.slug }}.png" alt="{{ cardUser.card.title }}" class="single-card__link__img">
        {% if cardUser.quantity > 1 %}<span class="quantity">x{{ cardUser.quantity }}</span>{% endif %}
      </div>
    </div>
    {% empty %}
    <div class="col">
      Vous n'avez pas encore de cartes.
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}


